ion-item-divider {
  --background: var(--app-surface);
  --color: var(--app-text-primary);
  font-family: var(--app-font-family);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-semibold);
}